.jumbotron.center
  %h1 Welcome to My Recipes App
  %h2 This is the homepage for my app
  = link_to "Sign Up Now!", "", class: "btn btn-lg btn-success"

.row
  .col-lg-4
    %h3.midrow View Recipes as Guest User
    %h2.left Browse and view recipies as a guest and Sign up later
    %p= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small"
  .col-lg-4
    %h3.midrow View Recipes as Guest User
    %h2.left Browse and view recipies as a guest and Sign up later
    %p= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small"
  .col-lg-4
    %h3.midrow View Recipes as Guest User
    %h2.left Browse and view recipies as a guest and Sign up later
    %p= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small"