%header.navbar.navbar-fixed-top.navbar-default
  .container
    = link_to "myRecipes", "", class: "btn btn-lrg btn-success", id: "logo"
    .nav-item
      = link_to "link 1", "", class: "btn btn-default btn-warning"
    .nav-item
      = link_to "link 1", "", class: "btn btn-default btn-warning"
    .nav-item
      = link_to "link 1", "", class: "btn btn-default btn-warning"